@page
@model CreateEmployeeModel
@using Application_webOracle.Models

<h1>Ajouter un Employé</h1>

<form method="post">

    <div class="form-group">
        <label for="EmpNo">EmpNo</label>
        <input type="number" class="form-control" id="EmpNo" name="EmpNo" required />
    </div>

    <div class="form-group">
        <label for="EName">Nom</label>
        <input type="text" class="form-control" id="EName" name="EName" required />
    </div>
    <div class="form-group">
        <label for="Job">Poste</label>
        <input type="text" class="form-control" id="Job" name="Job" required />
    </div>

    <div class="form-group">
        <label for="MGR">MGR</label>
        <input type="number" class="form-control" id="MGR" name="MGR" required />
    </div>

    <div class="form-group">
        <label for="HireDate">Date d'Embauche</label>
        <input type="date" class="form-control" id="HireDate" name="HireDate" required />
    </div>
    <div class="form-group">
        <label for="Sal">Salaire</label>
        <input type="number" class="form-control" id="Sal" name="Sal" step="0.01" />
    </div>

    <div class="form-group">
        <label for="Comm">Comm</label>
        <input type="number" class="form-control" id="Comm" name="Comm" step="0.01" />
    </div>

    <div class="form-group">
        <label for="DeptNo">DeptNo</label>
        <input type="number" class="form-control" id="DeptNo" name="DeptNo" step="0.01" />
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
