@page
@{
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

<div class="text-center">
    <h1>Bienvenue à l'application Oracle</h1>
    <p>Accédez aux informations sur la formation Oracle, le but du projet, ou connectez-vous ci-dessous.</p>
    <a href="/Pages/Login" class="btn btn-primary">Se connecter</a>
</div>
